<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <!--<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">-->
    <!--<property name="urlMap">-->
    <!--<map>-->
    <!--<entry key="/start" value-ref="start"/>-->
    <!--</map>-->
    <!--</property>-->

    <!--</bean>-->
    <bean name="/facebookconnect/" class="com.imhos.security.server.social.facebook.FacebookConnect"/>
    <bean name="/facebookcallback/" class="com.imhos.security.server.social.facebook.FacebookCallback"/>
    <bean name="/twitterconnect/" class="com.imhos.security.server.social.twitter.TwitterConnect"/>
    <bean name="/twittercallback/" class="com.imhos.security.server.social.twitter.TwitterCallback"/>
    <bean name="/twitterconnect2/" class="com.imhos.security.server.social.twitterNew.TwitterConnect2"/>
    <bean name="/twittercallback2/" class="com.imhos.security.server.social.twitterNew.TwitterCallback2"/>


    <bean name="/start/" class="third.service.ServletStart"/>
    <bean name="/actorDirectorsList/" class="third.service.ActorDirectorsList"/>
    <bean name="/actorAdd/" class="third.service.ActorAdd"/>
    <bean name="/actorsInfo/" class="third.service.ActorsInfo"/>
    <bean name="/actorMoviesList/" class="third.service.ActorsMoviesList"/>
    <bean name="/directorActorsList/" class="third.service.DirectorActorsList"/>
    <bean name="/directorMoviesList/" class="third.service.DirectorMoviesList"/>
    <bean name="/moviePage/" class="third.service.MoviePage"/>
    <bean name="/movieAdd/" class="third.service.MovieAdd"/>
    <bean name="/movieAddShort/" class="third.service.MovieAddShort"/>
    <bean name="/moviesWithoutActors/" class="third.service.MoviesWithoutActors"/>
    <bean name="/movieUpdate/" class="third.service.MovieUpdate"/>
    <bean name="/registration/" class="third.service.Registration"/>


    <bean name="pagination" class="third.facade.Pagination"/>


    <context:annotation-config/>
    <!--<bean id="connectController" class="org.springframework.social.connect.web.ConnectController">-->
    <bean id="connectController" class="com.imhos.security.server.social.SocialConnectController">
        <constructor-arg name="connectionFactoryLocator" ref="connectionFactoryLocator"/>
        <constructor-arg name="usersConnectionRepository" ref="usersConnectionRepository"/>
        <constructor-arg name="signInAdapter">
            <bean class="com.imhos.security.server.social.SocialSignInAdapter"/>
        </constructor-arg>
        <!--<beans:property name="applicationUrl" value=""/>-->
    </bean>

    <!--<bean id="connectController1" class="org.springframework.social.connect.web.ProviderSignInController">-->
    <!--<constructor-arg name="connectionFactoryLocator" ref="connectionFactoryLocator"/>-->
    <!--<constructor-arg name="usersConnectionRepository" ref="usersConnectionRepository"/>-->
    <!--<constructor-arg name="signInAdapter">-->
    <!--<bean class="com.imhos.security.server.social.SocialSignInAdapter"/>-->
    <!--</constructor-arg>-->
    <!--&lt;!&ndash;<beans:property name="applicationUrl" value=""/>&ndash;&gt;-->
    <!--</bean>-->

</beans>