<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <!-- The GWT handler. Watch out the mappings! -->
    <bean class="org.gwtwidgets.server.spring.GWTHandler">
        <property name="mappings">
            <map>
                <entry key="/rpc/sample" value-ref="sampleService"/></map>
        </property>
    </bean>


    <bean id="sampleService" class="third.service.gwt.SampleApplicationServiceImpl"/>

</beans>