body {
    /*background-color: #FFF;*/
    background-image: url("http://st.kinopoisk.ru/images/bnnr/brand/52ee7eb5.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: 50% 0;
    width: 850px;
    margin-top: 210px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
}

#header {
    background-color: #808080;
    width: 850px;
    height: 87px;
    margin-bottom: 30px;
}

#moviesInfo {
    background-color: #f2f2f2;
    background-image: url("http://st.kinopoisk.ru/images/bg-lenta.gif");
    background-position: 619px 97%;
    background-repeat: no-repeat;
    width: 850px;
    height: 564px;
    margin: auto;

}

#mainInfo {
    width: 589px;
    float: left;
}

#title {
    /*background-color: green;*/
    margin: 21px 0 22px 15px;
    font-family: tahoma, verdana, arial, sans-serif;

}

#title-1 {
    margin: 0;
    height: 30px;
    font-size: 25px;
    font-weight: normal;
}

#title-2 {
    margin: 0;
    color: #666;
    font-size: 13px;
    font-weight: normal;
}

#info {

}

#poster {
    float: left;
    width: 120px;
    height: 171px;
    margin-right: 15px;
    /*padding-right: 10px;*/
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #f60;
}

#actorsInfo {
    width: 251px;
    background-color: yellow;
    float: left;
    padding: 20px 10px 0 0;
    text-align: right;
}

#roles {
    vertical-align: top;
    color: #f60;
    margin: 0;
    padding: 0;
}

#data {
    width: 439px;
    border-collapse: collapse;
}

tr.tr_data {

    /*background-color: #dc143c;*/
    vertical-align: middle;
    border-bottom-style: dotted;
    border-bottom-color: #808080;
    border-bottom-width: 1px;

}

td.td_data_1 {
    background-image: url("http://st.kinopoisk.ru/images/sqr-grey.gif");
    background-position: 11px 11px;
    background-repeat: no-repeat;
    width: 119px;
    color: #f60;
    padding: 5px 0 6px 23px;

    border-bottom-style: dotted;
    border-bottom-color: #808080;
    border-bottom-width: 1px;

}

td.td_data_2 {
    width: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 16px;

}

#dollar {
    background-image: url("http://www.iconsearch.ru/uploads/icons/siena/128x128/currency_dollarred.png");
}

#calendar_1, #calendar_2 {
    background-image: url(http://www.ctlr.org/Calendar-icon.gif);
}

#blu-ray {
    background-image: url(http://files.softicons.com/download/computer-icons/disks-icons-by-wil-nichols/png/512x512/Blu-Ray.png);
}

#dvd {
    background-image: url(http://icons.iconarchive.com/icons/visualpharm/must-have/256/DVD-Disk-icon.png);
}

#time {
    background-image: url(http://files.softicons.com/download/web-icons/web-orange-buttons-by-axialis-team/png/48/Clock.png);
}

td.td_data_3 {
    padding-left: 2px;
}

/*h1 {*/
/*background: yellow;*/
/*padding: 20px 20px 20px 80px;*/
/*}*/

/*h2 {*/
/*background: orange;*/
/*padding-left:120px;*/
/*}*/

/*table {*/
/*background-color: #FFCC66*/
/*}*/

/*a {*/
/*text-decoration: none;*/

/*}*/

/*a:hover {*/
/*text-transform: uppercase;*/
/*font-weight: bold;*/
/*color: red;;*/
/*}*/