<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>$title</title>
  <link rel="stylesheet" type="text/css" href="F:\_DEV\Projects\max\src\main\resources\templates\style.css"/>
</head>
<body>

<div id="header">
  <p>BLA-BLA</p>
</div>

<div id="moviesInfo">
  <div id="mainInfo">
    <div id="title">
      <h1 id="title-1">
        <!--$moviesTitle-->
        $title
      </h1>

      <h2 id="title-2">
        <!--$eng.moviesTitle-->
        или Новые приключения Шурика
      </h2>
    </div>
    <div id="info">
      <img id="poster" src="$moviePoster"  alt="POSTER"/>
      <table id="data">
        <tr class="tr_data">
          <td class="td_data_1">год</td>
          <td class="td_data_2"></td>
          <td class="td_data_3"><a href="">2013</a></td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">страна</td>
          <td class="td_data_2"></td>
          <td class="td_data_3"><a href="">Германия</a>, <a href="">США</a></td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">слоган</td>
          <td class="td_data_2"></td>
          <td class="td_data_3">«Classic Tale New Twist»</td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">режиссёр</td>
          <td class="td_data_2"></td>
          <td class="td_data_3">$director</td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">сценарий</td>
          <td class="td_data_2"></td>
          <td class="td_data_3">Scriptor)</td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">продюсер</td>
          <td class="td_data_2"></td>
          <td class="td_data_3">Producer</td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">оператор</td>
          <td class="td_data_2"></td>
          <td class="td_data_3">Cameraman</td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">композитор</td>
          <td class="td_data_2"></td>
          <td class="td_data_3">Composer</td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">художник</td>
          <td class="td_data_2"></td>
          <td class="td_data_3">Art director</td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">монтаж</td>
          <td class="td_data_2"></td>
          <td class="td_data_3">Editor</td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">жанр</td>
          <td class="td_data_2"></td>
          <td class="td_data_3">
            #foreach ( $anyKey in $genresList )
            $anyKey.getName() \
            #end
          </td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">бюджет</td>
          <td class="td_data_2" id="dollar"></td>
          <td class="td_data_3">a lot</td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">премьера (мир)</td>
          <td class="td_data_2" id="calendar_1"></td>
          <td class="td_data_3"></td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">премьера (РФ)</td>
          <td class="td_data_2" id="calendar_2"></td>
          <td class="td_data_3"></td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">релиз на Blue-Ray</td>
          <td class="td_data_2" id="blu-ray"></td>
          <td class="td_data_3"></td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">релиз на DVD</td>
          <td class="td_data_2" id="dvd"></td>
          <td class="td_data_3"></td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">возраст</td>
          <td class="td_data_2"></td>
          <td class="td_data_3"></td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">рейтинг МРАА</td>
          <td class="td_data_2"></td>
          <td class="td_data_3"></td>
        </tr>
        <tr class="tr_data">
          <td class="td_data_1">время</td>
          <td class="td_data_2" id="time"></td>
          <td class="td_data_3"></td>
        </tr>
      </table>
    </div>
  </div>
  <div id="actorsInfo">
    <p id="roles"> В главных ролях: </p>
    #foreach ( $actor in $actorsList )
    <p class="actors">$actor.getFirstName()+" "+$actor.getLastName() \</p>
    #end
  </div>
</div>

</body>
</html>